---
layout: base
permalink: mobile.html
---


{% include './panel-base.njk' %}

<style type="text/css">
	/* extra css for mobile */

	body {
		flex: 1 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 120%;
	}

	#header {
    	align-self: stretch;
	}
</style>
