<style type="text/css">
    {% include './panel.css' %}        
</style>


<div id="header">
    <span data-translation-de="Mein ScoreSaber Rang">
        My ScoreSaber Rank
    </span>
</div>

<div id="load-splash">
    <div>
        <span data-translation-de="Lade..." id="load-splash-text">
            Loading...
        </span>
    </div>
    <div id="note-error-not-found" class="bottom-note" style="display: none;"
        data-translation-de="Spieler nicht auf ScoreSaber gefunden"
    >
        Player was not found on ScorSsaber
    </div>
    <div id="note-error-rate-limit" class="bottom-note" style="display: none;"
        data-translation-de="Zu viele Anfragen, bitte versuche es später noch einmal"
    >
        Too many requests, please try again later
    </div>
    <div id="note-error" class="bottom-note" style="display: none;"
        data-translation-de="Unerwarteter Fehler, Details können aktuell leider nicht angezeigt werden"
    >
        Unexpected error, can't display details at the moment
    </div>
</div>

<div id="content" class="hidden">
    <div id="global-rank-stat" class="statistic">
        <span class="label" data-translation-de="globaler Rang:">
            global Rank:
        </span>
        <span class="value">
            <div>
                <span class="highlight">
                    #<span id="global-rank-value">900.000</span>
                </span>
                <span class="note">
                    (top <span id="global-rank-percentile">99.99</span>%)
                </span>
            </div>
            <div class="note">
                <span data-translation-de="heute:">today:</span>
                <i id="global-rank-change-today-icon" class="la la-angle-down"></i>
                <span id="global-rank-change-today">100.000</span>
                <span data-translation-de="diese Woche:">this week:</span>
                <i id="global-rank-change-week-icon" class="la la-angle-down"></i>
                <span id="global-rank-change-week">100.000</span>
            </div>
        </span>
    </div>
    <div id="country-rank-stat" class="statistic">
        <span class="label" data-translation-de="nationaler Rang:">
            local Rank:
        </span>
        <span class="value">
            <span class="highlight">
                #<span id="country-rank-value">900.000</span>
            </span>
            <span class="note">
                in <img src="flags/aq.png" title="Country-Code: AQ" id="flag-img">
            </span>
        </span>
    </div>
    <div id="pp-stat" class="statistic">
        <span class="label">
            PP:
        </span>
        <span class="value">
            <span class="highlight" id="pp-value">
                9000.000.000.000,99
            </span>
        </span>
    </div>
    <div id="note-inactive" class="bottom-note" style="display: none;"
        data-translation-de="die letzte Session ist zu alt um mehr Details anzuzeigen :/"
    >
        last play session is too long ago to show more data :/
    </div>
    <div id="note-banned" class="bottom-note" style="display: none;"
        data-translation-de="Account ist gebannt :o"
    >
        account is banned :o
    </div>
</div>

<script type="module" src="panel.js"></script>
