<style type="text/css">
    {% include './panel.css' %}        
</style>


<div id="header">
    <span data-translation-de="Mein ScoreSaber Rang">
        My ScoreSaber Rank
    </span>
</div>

<div id="load-splash">
    <div>
        <span data-translation-de="Lade..." id="load-splash-text">
            Loading...
        </span>
    </div>
    <div id="error-output">
    </div>
</div>

<div id="content" class="hidden">
    <button id="link-button">
        <span data-translation-de="Auf ScoreSaber.com anzeigen">View on ScoreSaber.com</span>
        <i id="global-rank-change-today-icon" class="la la-external-link"></i>
    </button>
</div>

<script type="module" src="panel.js"></script>
