#header {
    height: 75px;
    background-image: url("bg.png");
    background-size: cover;
    background-position: left center;

    display: flex;
    justify-content: center;
    align-items: center;
}
#header span {
    font-size: 135%;
    color: #ffffff;
    opacity: 0.85;
}

#load-splash {
    flex: 1 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
#load-splash #error-output {
    font-size: 1px;
    opacity: 0;
}

#content {
    --accent-color: #008139;
}

#flag-img {
    height: 1.4ex;
    width: auto;
}

.statistic {
    margin-top: 10px;
}
.statistic .label, .statistic .value {
    display: inline-block;
    vertical-align: top;
}
.statistic .label {
    font-size: 75%;
    padding-left: 7px;
}
.statistic .value *:not(:nth-child(1)) {
    margin-top: 3px;
}
.statistic .value .highlight {
    font-size: 110%;
    color: var(--accent-color);
}
.statistic .value .highlight span {
    color: var(--accent-color);
}
.statistic .value .highlight#pp-value {
    font-size: 120%;
}
.statistic .value .note {
    font-size: 65%;
}
.statistic .value .note .icon {
    margin-right: -2px;
}


/* minimal Line Awesome */
@font-face{
    font-family: Line Awesome Free;
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url("/fonts/la.woff2") format("woff2"), url("/fonts/la.ttf") format("truetype");
}

.la {
    font-family: Line Awesome Free !important;
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.la-angle-down:before {
  content: "\f107";
}

.la-angle-up:before {
  content: "\f106";
}
