<style type="text/css">
    {% include './panel.css' %}        
</style>


<div id="header">
    <span data-translation-de="Mein ScoreSaber Rang">
        My ScoreSaber Rank
    </span>
</div>

<div id="load-splash">
    <div>
        <span data-translation-de="Lade..." id="load-splash-text">
            Loading...
        </span>
    </div>
    <div id="error-output">
    </div>
</div>

<div id="content" class="hidden">
    <div class="statistic">
        <span class="label" data-translation-de="globaler Rang:">
            global Rank:
        </span>
        <span class="value">
            <div>
                <span class="highlight">
                    #<span id="global-rank-value">900.000</span>
                </span>
                <span class="note">
                    (top <span id="global-rank-percentile">99.99</span>%)
                </span>
            </div>
            <div class="note">
                <span data-translation-de="heute:">today:</span>
                <i id="global-rank-change-today-icon" class="la la-angle-down"></i>
                <span id="global-rank-change-today">100.000</span>
                <span data-translation-de="diese Woche:">this week:</span>
                <i id="global-rank-change-week-icon" class="la la-angle-down"></i>
                <span id="global-rank-change-week">100.000</span>
            </div>
        </span>
    </div>
    <div class="statistic">
        <span class="label" data-translation-de="nationaler Rang:">
            local Rank:
        </span>
        <span class="value">
            <span class="highlight">
                #<span id="country-rank-value">900.000</span>
            </span>
            <span class="note">
                in <img src="flags/aq.png" title="Country-Code: AQ" id="flag-img">
            </span>
        </span>
    </div>
    <div class="statistic">
        <span class="label">
            PP:
        </span>
        <span class="value">
            <span class="highlight" id="pp-value">
                9000.000.000.000,99
            </span>
        </span>
    </div>
</div>

<script type="module" src="scoresaber_lib.js"></script>
<script type="module" src="twitch-hooks_lib.js"></script>
<script type="module" src="panel.js"></script>
