{% extends 'base.jinja2' %}

{% block content %}
    <style type="text/css">
        .header {
            height: 75px;
            background-image: url("http://beatsaber.com/images/BG.jpg");
            background-size: cover;
            background-position: left center;

            display: flex;
            justify-content: center;
            align-items: center;
        }
        .header span {
            font-size: 135%;
            color: #ffffff;
            opacity: 0.85;
        }

        .statistic {
            margin-top: 10px;
        }
        .statistic .label {
            font-size: 85%;
            padding-left: 7px;
        }
        .statistic .value {
            font-size: 110%;
            color: var(--accent-color);
        }
        .statistic .value#pp-value {
            font-size: 120%;
        }

        .footer {
            margin-top: 21px;

            display: flex;
            justify-content: center;
        }
        .footer * {
            font-size: 65%;
        }
    </style>

    <div class="header">
        <span>
            My BeatSaber Score
        </span>
    </div>

    <div class="statistic">
        <span class="label">
            global Rank:
        </span>
        <span id="rank-value" class="value">
            #17
        </span>
    </div>
    <div class="statistic">
        <span class="label">
            PP:
        </span>
        <span id="pp-value" class="value">
            4200
        </span>
    </div>

    <div class="footer">
        <a target="_blank" href="https://scoresaber.com/u/76561198083237291">more details on ScoreSaber.com</a>
    </div>

    <script type="text/javascript">
        const BASE_URL = new URL('http://scoresaber-proxy.lucavazzano.eu/')

        let url = new URL('getRank.php', BASE_URL)
        url.searchParams.append('playerid', '76561198083237291')
        url.searchParams.append('version', '2.1.1')
        fetch(new Request(url))
            .then(response => {
                if (!response.ok) {
                    rlog('HTTP error on req from ScoreSaber, status ' + response.status)
                    throw 'HTTP error'
                } else {
                    return response.text()
                }
            })
            .then(text => text.replace(/[^0-9|\.]/, '') /* sanatize */)
            .then(text => text.split('|'))
            .then(values => values.map(v => (+v).toLocaleString()))
            .then(([rank, pp]) => {
                document.getElementById('rank-value').innerText = `#${rank}`
                document.getElementById('pp-value').innerText = `${pp}`
            })
    </script>
{% endblock %}
