{% extends 'base.jinja2' %}

{% block content %}
    <style type="text/css">
        #header {
            height: 75px;
            background-image: url("bg.png");
            background-size: cover;
            background-position: left center;

            display: flex;
            justify-content: center;
            align-items: center;
        }
        #header span {
            font-size: 135%;
            color: #ffffff;
            opacity: 0.85;
        }

        #load-splash {
            flex: 1 0 auto;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        #flag-img {
            height: 1.4ex;
            width: auto;
        }

        .statistic {
            margin-top: 10px;
        }
        .statistic .label, .statistic .value {
            display: inline-block;
            vertical-align: top;
        }
        .statistic .label {
            font-size: 75%;
            padding-left: 7px;
        }
        .statistic .value *:not(:nth-child(1)) {
            margin-top: 3px;
        }
        .statistic .value .highlight {
            font-size: 110%;
            color: var(--accent-color);
        }
        .statistic .value .highlight span {
            color: var(--accent-color);
        }
        .statistic .value .highlight#pp-value {
            font-size: 120%;
        }
        .statistic .value .note {
            font-size: 65%;
        }
        .statistic .value .note .icon {
            margin-right: -2px;
        }

        .hidden {
            display: none !important;
        }
        
        {% block extra_css %}{% endblock %}
    </style>


    <div id="header">
        <span>
            My BeatSaber Score
        </span>
    </div>

    <div id="load-splash">
        Loading...
    </div>

    <div id="content">
        <div class="statistic">
            <span class="label">
                global Rank:
            </span>
            <span class="value">
                <div>
                    <span class="highlight">
                        #<span id="global-rank-value">900.000</span>
                    </span>
                    <span class="note">
                        (top <span id="global-rank-percentile">99.99</span>%)
                    </span>
                </div>
                <div class="note">
                    today: 
                    <svg class="icon" id="global-rank-change-today-icon"
                        xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'></svg>
                    <span id="global-rank-change-today">100.000</span>
                    this week:
                    <svg class="icon" id="global-rank-change-week-icon"
                        xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'></svg>
                    <span id="global-rank-change-week">100.000</span>
                </div>
            </span>
        </div>
        <div class="statistic">
            <span class="label">
                local Rank:
            </span>
            <span class="value">
                <span class="highlight">
                    #<span id="country-rank-value">900.000</span>
                </span>
                <span class="note">
                    in <img src="flags/aq.png" title="Country-Code: AQ" id="flag-img">
                </span>
            </span>
        </div>
        <div class="statistic">
            <span class="label">
                PP:
            </span>
            <span class="value">
                <span class="highlight" id="pp-value">
                    9000.000.000.000,99
                </span>
            </span>
        </div>
    </div>

    <script src="panel.js"></script>
{% endblock %}
